* {
	font-family: 'Roboto', sans-serif;
/*	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/
}

/*.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model; // Safari <= 5
     -moz-box-sizing: @box-model; // Firefox <= 19
          box-sizing: @box-model;
}*/

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

#cover {
  background-color: gray;
  color: white;
  height: 650px;
}

#covertext {
  margin: 200px auto 200px;
}

#adamcooper {
  font-size: 2rem;
}

#developer {
  font-size: 1.5rem;
}

#projects {}

#p1 {
  background-color: green;
  color: white;
  height: 200px;
}

#p2 {
  background-color: red;
  color: white;
  height: 200px;  
}

#p3 {
  background-color: orange;
  color: white;
  height: 200px;
}

#contact {
  background-color: purple;
  color: white;
  height: 400px
}