@font-face {
  font-family: 'GT Walsheim Regular';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'GT Walsheim Bold';
  src: url('../fonts/GT-Walsheim-Pro-Trial-Bold.otf') format('opentype');
}

html {
  font-size: 62.5%; /* The Snook Font Size */
}

.container {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

video {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 1400px;
}

#titleText {
  position: absolute;
  top: 300px;
  padding-left: 40px;
  /*color: navy;*/
}


#name {
  font-family: 'GT Walsheim Bold', sans-serif;
  font-size: 70px;
  font-size: 7.0rem;
  color: rgb(0,0,60);
  color: rgba(0,0,60,0); /* alpha set to animate */
}

#dev {
  font-family: 'GT Walsheim Bold', sans-serif;
  font-size: 50px;
  font-size: 5.0rem;
  margin-top: -20px;
  color: rgb(0,0,60);
  color: rgba(0,0,60,0); /* alpha set to animate */
}

#links {
  position: relative;
  top: 100px; /* animate into view */
  padding-left: 5px;
  text-decoration: none;
  font-family: 'GT Walsheim Bold', sans-serif;
  display: none; /* animate into view */
}

.link {
  list-style: none;
  display: inline;
  color: rgb(0,0,60);
  color: rgba(0,0,60,0.7);
  margin-right: 20px;
}

/*
#aboutLink, #projectsLink, #shotsLink, #jamsLink, #goodreadsLink, #contactLink {
  position: relative;
  top: -1000px;
  left: -1000px; /* animate into view *./
}
*/

/* 
* {
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
*/

/*.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model; // Safari <= 5
     -moz-box-sizing: @box-model; // Firefox <= 19
          box-sizing: @box-model;
}*/

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

#profile {
	display: inline;
	height: 36px;
	margin: -8px 16px 0px 0px;
}

/*#top-dummy {
	height: 50px;
}*/

.navbar-default {
  background-color: #3333ff;
  border-color: #000099;
}
.navbar-fixed-top {
	background-color: #3333ff;
}
.navbar-default .navbar-brand {
  color: #000066;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000099;
}
.navbar-default .navbar-text {
  color: #000066;
}
.navbar-default .navbar-nav > li > a {
  color: #000066;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000099;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000099;
  background-color: #ccffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000099;
  background-color: #ccffff;
}
.navbar-default .navbar-toggle {
  border-color: #000099;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ccffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000066;
}
.navbar-default .navbar-link {
  color: #000066;
}
.navbar-default .navbar-link:hover {
  color: #000099;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000066;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000099;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000099;
    background-color: #ccffff;
  }
}

#about {
	padding-top: 100px;
	background-color: white;
	/*background-color: #6666ff;*/
	color: #000099;
	min-height: 400px;
}

/*#about_text {
	text-align: center;
}*/

#big_photo {
	max-width: 250px;
	float: left;
}

#about_text {
	padding-top: 100px;
	padding-left: 40px;
	vertical-align: bottom;
}

#about_text_header {
	font-family: 'Condiment', serif;
	/*font-style: italic;*/
/*	text-align: center;*/
	font-size: 200%;
}

#about_text_body {
	padding: 0px 10px;
	font-size: 150%;
}

.parallax-container {
	height: 500px;
	width: 100%;
}

#projects {
	padding-top: 50px;
	background-color: white;
	/*background-color: #9999ff;*/
	min-height: 400px;
}

#projects_title, #contact_title {
	text-align: center;
	margin-bottom: 40px;
}

.project_caption {
	text-align: center;
}

.project_caption_header {
	font-weight: bold;
	font-size: 110%;
}

#project_links {
	margin-bottom: 40px;
}

.screenshot {
	width: 160px;
	margin-bottom: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}

#contact {
	/*background-color: #000099;*/
	background-color: white;
	color: #000099;
	min-height: 400px;
	padding-top: 50px;
	text-align: center;
}

#contact_title {
	color: black;
}

#contact_text {
	text-align: center;
	color: black;
}

#farewell {
	font-family: 'Condiment', sans-serif;
	font-size: 175%;
	color: #000099;
	margin-top: 40px;
	margin-bottom: 360px;
}