@font-face {
  font-family: 'Neona';
  src: url('../fonts/neona.ttf');
}

html {
  font-size: 62.5%; /* The Snook Font Size */
}

.container {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

#backdrop {
  position: absolute;
  z-index: 1;
}

video {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 1400px;
  -webkit-filter: blur(15px);
     -moz-filter: blur(15px);
       -o-filter: blur(15px);
      -ms-filter: blur(15px);
          filter: blur(15px);
}

.letter {
  min-width: 95px;
}

.small {
  font-size: 50%;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  /*display: table;*/
}


div {
  /*display: table-cell;*/
  text-align: center;
  vertical-align: middle;
}

#topSpacer {
  margin-bottom: 70px;
}

i {
  min-width: 95px;
  font: normal 120px/ 120px 'Neona', Helvetica, Arial;
  color: #EEDDE0;
  text-shadow: 0 0 18px #EC637B, 
    0 0 6px rgba(230, 161, 173, 0.41), 
    0 0 60px #E6A1AD, 
    0 0 300px #F36780, 
    3px 5.4px 3px rgba(0, 0, 0, 0.5);
}

i.off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 4.2px 4.2px 3px rgba(0, 0, 0, 0.5);
}

#name {
  font-family: 'GT Walsheim Bold', sans-serif;
  font-size: 70px;
  font-size: 7.0rem;
  color: rgb(0,0,1);
  color: rgba(0,0,1,0); /* alpha set to animate */
}

#dev {
  font-family: 'GT Walsheim Bold', sans-serif;
  font-size: 50px;
  font-size: 5.0rem;
  margin-top: -20px;
  color: rgb(0,0,1);
  color: rgba(0,0,1,0); /* alpha set to animate */
}

#links {
  position: relative;
  top: 100px; /* animate into view */
  padding-left: 5px;
  text-decoration: none;
  font-family: 'GT Walsheim Bold', sans-serif;
  display: none; /* animate into view */
}

.link {
  list-style: none;
  display: inline;
  color: rgb(0,0,0);
  color: rgba(0,0,0,0.7);
  margin-right: 20px;
  border-bottom: none;
}

.dormant {
  border-bottom: none;
}

.active {
  /*border-bottom: 5px solid yellow;*/
  text-decoration: underline;
          text-decoration-color: yellow;
     -moz-text-decoration-color: yellow;
  -webkit-text-decoration-color: yellow;
          text-decoration-style: solid;
     -moz-text-decoration-style: solid;
  -webkit-text-decoration-style: solid;
}

.hidden {
  display: none;
}

.current {
  display: block;
}

section > div {
  position: absolute;
  top: 100px;
  left: 33%;
  width: 50%;
  min-width: 300px;
  max-height: 450px;
  padding: 2%;
  overflow: auto;
  font-size: 20px;
  font-size: 2.0rem;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

.generalText {
  font-family: 'Merriweather', serif;
}

.shortText {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
}

.sectionTitle {
  font-family: 'GT Walsheim Bold', sans-serif;
  text-align: center;
}

.subTitle {
  font-family: 'GT Walsheim Regular', sans-serif;
  text-align: center;
}

.projectSummary {
  margin-top: 20px;
}

.trackLink {
  /*float: left;*/
  display: inline-block;
  width: 75px;
}

.trackLink:last-child::after {
  clear: both;
}

#contactLinks {
  margin: 0 auto;
  width: 320px;
}

.contactText {
  font-family: 'Merriweather', serif;
  text-align: center;
}

/*
#projects {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 450px;
  height: 450px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}

#contact {
  position: absolute;
  top: 100px;
  left: 150px;
  width: 450px;
  height: 450px;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}
*/

/*
#aboutLink, #projectsLink, #shotsLink, #jamsLink, #goodreadsLink, #contactLink {
  position: relative;
  top: -1000px;
  left: -1000px; /* animate into view *./
}
*/

/* 
* {
	font-family: 'Roboto', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 
*/

/*.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model; // Safari <= 5
     -moz-box-sizing: @box-model; // Firefox <= 19
          box-sizing: @box-model;
}*/


a:link {
	text-decoration: none;
  color: rgb(0,0,60);
	color: rgba(0,0,60,1);
}

a:visited {
	text-decoration: none;
  color: rgb(0,0,0);
  color: rgba(0,0,0,1);
}


/*
#profile {
	display: inline;
	height: 36px;
	margin: -8px 16px 0px 0px;
}
*/

/*#top-dummy {
	height: 50px;
}*/

.navbar-default {
  background-color: #3333ff;
  border-color: #000099;
}
.navbar-fixed-top {
	background-color: #3333ff;
}
.navbar-default .navbar-brand {
  color: #000066;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #000099;
}
.navbar-default .navbar-text {
  color: #000066;
}
.navbar-default .navbar-nav > li > a {
  color: #000066;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000099;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000099;
  background-color: #ccffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #000099;
  background-color: #ccffff;
}
.navbar-default .navbar-toggle {
  border-color: #000099;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ccffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ccffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000066;
}
.navbar-default .navbar-link {
  color: #000066;
}
.navbar-default .navbar-link:hover {
  color: #000099;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000066;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000099;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000099;
    background-color: #ccffff;
  }
}

/*
#about {
	padding-top: 100px;
	background-color: white;
	/* background-color: #6666ff; *-/
	color: #000099;
	min-height: 400px;
}
*/

/*#about_text {
	text-align: center;
}*/

/* 
#big_photo {
	max-width: 250px;
	float: left;
}

#about_text {
	padding-top: 100px;
	padding-left: 40px;
	vertical-align: bottom;
}

#about_text_header {
	font-family: 'Condiment', serif;
	/*font-style: italic;*/
/*	text-align: center; *-/
	font-size: 200%;
}

#about_text_body {
	padding: 0px 10px;
	font-size: 150%;
}

.parallax-container {
	height: 500px;
	width: 100%;
}

#projects {
	padding-top: 50px;
	background-color: white;
	/*background-color: #9999ff; *-/
	min-height: 400px;
}

#projects_title, #contact_title {
	text-align: center;
	margin-bottom: 40px;
}

.project_caption {
	text-align: center;
}

.project_caption_header {
	font-weight: bold;
	font-size: 110%;
}

#project_links {
	margin-bottom: 40px;
}

.screenshot {
	width: 160px;
	margin-bottom: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
}

#contact {
	/*background-color: #000099; *-/
	background-color: white;
	color: #000099;
	min-height: 400px;
	padding-top: 50px;
	text-align: center;
}

#contact_title {
	color: black;
}

#contact_text {
	text-align: center;
	color: black;
}

#farewell {
	font-family: 'Condiment', sans-serif;
	font-size: 175%;
	color: #000099;
	margin-top: 40px;
	margin-bottom: 360px;
} 
*/