@font-face {
  font-family: 'Neona';
  src: url('../fonts/neona.ttf');
}

html {
  font-size: 62.5%; /* The Snook Font Size */
}

.container-fluid { /* This was .container */
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

#lowercase {
  position: absolute;
  z-index: 3;
  margin-top: 120px;
  left: 33%;
}

#backdrop {
  position: absolute;
  z-index: -1;
}

video {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 1400px;
  /*
  -webkit-filter: blur(15px);
     -moz-filter: blur(15px);
       -o-filter: blur(15px);
      -ms-filter: blur(15px);
          filter: blur(15px);
  */        
}

.letter {
  min-width: 95px;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  /*display: table;*/
}


div {
  /*display: table-cell;*/
  text-align: center;
  vertical-align: middle;
}

#topSpacer {
  margin-bottom: 70px;
}

.nt {
  min-width: 95px;
  font: normal 120px/ 120px 'Neona', Helvetica, Arial;
  color: #EEDDE0;
  text-shadow: 0 0 18px #EC637B, 
    0 0 6px rgba(230, 161, 173, 0.41), 
    0 0 60px #E6A1AD, 
    0 0 300px #F36780, 
    3px 5.4px 3px rgba(0, 0, 0, 0.5);
}

.nt .off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 4.2px 4.2px 3px rgba(0, 0, 0, 0.5);
}

.nm {
  min-width: 95px;
  /*margin-top: 50px;*/
  text-align: right;
  font: normal 60.0px/ 60.0px 'Neona', Helvetica, Arial;  
  color: #EEDDE0;
  text-shadow: 0 0 9.0px #EC637B, 
    0 0 3.0px rgba(230, 161, 173, 0.41), 
    0 0 30.0px #E6A1AD, 
    0 0 150.0px #F36780, 
    1.5px 2.7px 1.5px rgba(0, 0, 0, 0.5);  
}

.nm .off {
  color: rgba(46, 46, 46, 0.61);
  text-shadow: 2.1px 2.1px 1.5px rgba(0, 0, 0, 0.5);
}

.ticker {
  display: none;
}

.ghost {
  font: normal 120px/ 120px 'Neona', Helvetica, Arial;
  color: rgba(238, 221, 224, 0);
  text-shadow: none;
}

#aboutAdamHover a {
  color: inherit;
}

#projectsHover a {
  color: inherit;
}

.underline {
  text-decoration: underline;
}

#aboutAdamHover {
  opacity: 0.0;  
  position: absolute;
  margin-top: 120px;
  left: 33%;
  /*z-index: 5;*/
}

#projectsHover {
  opacity: 0.0;  
  position: absolute;
  margin-top: 120px;
  left: 33%;
  /*z-index: 5;*/
}

.alwaysHidden {
  display: none;
}

.ahidden {
  display: none;
}

.current {
  display: block;
}

nav > ul {
  list-style: none;
  text-align: center;
     -moz-padding-start: 0;
  -webkit-padding-start: 0;
}

nav > ul > li {
  display: inline;
  font-size: 40%;
}

nav a {
  /*color: currentColor;*/
  color: inherit;
}

#aboutAdamPanel {
  opacity: 0.0;
  background: url(../images/adam_background_3.jpg);  
  /*background-color: rgba(204,204,204,0.0);*/
  position: absolute;
  left: 0%;
  z-index: 1;
  width: 100%;
  margin-top: 0;
  padding-right: 10px;
  /*padding: 20px;*/
}

#projectsPanel {
  opacity: 0.0;  
  position: absolute;
  background-color: rgba(204,204,204,0.0);
  left: 25%;
  z-index: 1;
  width: 50%;
  margin-top: 20px;
  padding: 20px;
}

#aboutAdamPanel img {
  float: left;
  margin-right: 10px;
  /*margin: 10px;*/
}

.longText {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 4rem;
  font-size: 40px;
  text-align: justify;
  background-color: rgba(255,255,255,0.2);
}

#contact > ul {
  list-style: none;
  text-align: center;
     -moz-padding-start: 0;
  -webkit-padding-start: 0;
}

#contact > ul > li {
  display: inline;
}

#contact li:last-child img {
  margin-right: initial;
}

#contact img {
  margin-right: 19%;
}

a:link {
	text-decoration: none;
  color: inherit;
  /*
  color: rgb(0,0,60);
	color: rgba(0,0,60,1);
  */
}

a:visited {
	text-decoration: none;
  color: inherit;
  /*
  color: rgb(0,0,0);
  color: rgba(0,0,0,1);
  */
}

